.year,
.month,
.date {
  width: 100px;
  height: 40px;
  padding: 5px 10px;
  margin-left: 15px;
  box-sizing: border-box;
  border: 1px solid #9B9B9B;
  border-radius: 5px;
  background: none;
  font-size: 14px;
}
.year[disabled],
.month[disabled],
.date[disabled] {
  background: #ededed;
  color: #ccc;
}

.year {
  margin-left: 0;
}
